[flake8]
count = True
show-source = True
statistics = True
exclude=
    *build/
    media
    tests
select = B,D,E,F,W,C90,CFQ
max-complexity = 10
max-line-length = 127
per-file-ignores =
    */__init__.py:F401
extend-ignore =
    B001,
    B006,
    B007,
    B023,
    B026,
    B028,
    CFQ,
    D100,
    D101,
    D102,
    D103,
    D104,
    D105,
    D107,
    D200,
    D205,
    D210,
    D400,
    D401,
    E126,
    E203,
    E265
    E402,
    E501,
    E722,
    F401,
    F541,
    F841,
    FS002,
    W503,
    W504,
    W605
