[dev-packages]

[packages]
antspyx = "*"
ipython = "*"
jupyter = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
plotly = "*"
scikit-learn = "*"
scipy = "*"
tensorflow = "==2.15.0"

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[streamlit]
streamlit = "*"
