[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
ipython = "*"
plotly = "*"
scikit-learn = "*"
antspyx = "*"
tensorflow-cpu = "*"
jupyter = "*"
deepmreye = "*"

[dev-packages]

[requires]
python_version = ">=3.7"
