[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
ipython = "*"
plotly = "*"
scikit-learn = "*"
antspyx = "*"
tensorflow = "*"
jupyter = "*"


[dev-packages]


[streamlit]
tensorflow-cpu = "*"
deepmreye = "*"

[requires]
python_version = "3.8"
